.action-btn {
  display: flex;
  margin-top: -.5em;
}

.accent-color {
  color: var(--accent-color);
}

.action-btn .btn {
  border: none;
  font-size: 15px;
  padding: 0;
  box-shadow: none;
}

.panel .card {
  background-color: var(--bg-light);
  border: none;
}

.edit {
  border-radius: 3px;
  height: 2.5rem;
  padding: .5em;
  box-shadow: inset 3px 3px 12px rgba(0, 0, 0, .35), inset -3px -3px 5px white;
}

@media (max-width: 800px) {
  .panel .card * {
    height: max-content;
  }
  .panel .card * {
    flex-direction: column;
    width: max-content;
  }
  .action-btn {
    position: absolute;
    right: 0;
  }
}
